@import '../../../index.style.scss';

.rectangle-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12);
    padding: 1rem 1rem;
    cursor: pointer;
    &.active {
        border: 1px solid $color-primary-3;
    }
    .shape {
        width: 40px;
        height: 40px;
        margin-right: 1rem;
    }
    .right {
        .name {
            margin-bottom: 1rem;
            display: -webkit-box;
            word-wrap: break-word;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow-y: hidden;
            text-overflow: ellipsis;
            white-space: pre-line;
        }
    }
}