.sidebar-current-shape {
    margin: 2rem;
    .color-picker {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .label {
            margin-right: 2rem;
        }
    }
}