.custom-input {
    display: flex;
    margin: 1rem 0 2rem;
    justify-content: center;
    flex-direction: column;
    .label {
        // width: rem;
        padding-right: 1rem;
        margin-bottom: .8rem;
    }
    .input {
        all: none;
        border: none;
        outline: none;
        height: 3.5rem;
        background-color: #f0f0f0;
        padding: 0 2rem;
        font-size: 1.6rem;
        border-radius: 3px;
        transition: all .2s;
        &:focus {
            background-color: #e4e4e4;
        }
    }
    // &__btn {
    //     margin-left: 2rem;
    // }
}