* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-size: 1.8rem !important;
    color: #262626;
}


// $color-primary-1: #e6fffb;
// $color-primary-2: #b5f5ec;
// $color-primary-3: #13c2c2;
// $color-primary-4: #08979c;
// $color-primary-5: #006d75;

$color-primary-1: #fff0f6;
$color-primary-2: #ffd6e7;
$color-primary-3: #ffadd2;
$color-primary-4: #f759ab;
$color-primary-5: #c41d7f;